[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"

[packages]
requests = "*"
requests-toolbelt = "*"
pydantic = "*"
pyyaml = "*"
pyperclip = "*"
loguru = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
